
   <div class="navbar">
      <h1>MY BLOG</h1>

      <p>Welcome to the blog of</p>
    
    </div>
  </div>

 
  <div class="main">
   
    <div class="left">
      <div class="card">
        <div class="img-container">
          <img src="https://www.w3schools.com/w3images/woods.jpg" alt="Woods">
        </div>
        <h3>TITLE HEADING</h3>
        <h5>Title description, <span class="date">April 7, 2025</span></h5>
        
        <p class="content-text">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. 
          Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. 
          Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>

          <div class="button">
            <p>READ MORE >></p>
            
          </div>

          <p>Coments</p>

        

      </div>

      <div class="card">
        <div class="img-container">
          <img src="https://www.w3schools.com/w3images/bridge.jpg" alt="Bridge">
        </div>
        <h3>BLOG ENTRY</h3>
        <h5>Description, <span class="date">April 2, 2025</span></h5>
        
        <p class="content-text">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. 
          Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. 
          Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>

          <div class="button">
            <p>READ MORE >></p>
            
          </div>

          <p>Coments</p>

      </div>
    </div>

    
    <div class="right">
      <div class="card">

        <div class="img-container">
          <img src="https://www.w3schools.com/w3images/avatar_g.jpg" alt="Me" class="me">
        </div>

        <h4>My Name</h4>
        
        <p>Just me, myself and I, exploring the universe of uknownment. 
          I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. 
          I want to share my world with you.</p>
      </div>

      <div class="card">
        <h4>Popular Posts</h4>
        <ul class="list">
          <li><img src="https://www.w3schools.com/w3images/workshop.jpg" alt="Loren"><span>Lorem</span>
            <br>
            <span>Sed matis nunc</span>
          </li>

          <li><img src="https://www.w3schools.com/w3images/gondol.jpg" alt="Ipsum"><span>Ipsum</span>
            <br>
            <span>Praes tinci sed</span>
          </li>

          <li><img src="https://www.w3schools.com/w3images/skies.jpg" alt="Dorum"><span>Dorum</span>
            <br>
            <span>Ultricies congue</span>
          </li>

          <li><img src="https://www.w3schools.com/w3images/rock.jpg" alt="Mingsum"><span>Mingsum</span>
            <br>
            <span>Lorem ipsum dipsum</span>
          </li>
        </ul>
      </div>

      <div class="card">
        <h4>Tags</h4>
        <div class="tags">
          <span class="tag">Travel</span>
          <span class="tag">New York</span>
          <span class="tag">London</span>
          <span class="tag">IKEA</span>
          <span class="tag">NORWAY</span>
          <span class="tag">DIY</span>
        </div>
      </div>
    </div>
  </div>

 
  <footer class="footer">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> </p>
  </footer>

